/* SELETTORE UNIVERSALE PER CARATTERE */
*{
    font-family: 'Jost', sans-serif;
}
/* TABELLA COLORI DA UTILIZZARE */
:root {
    --main-blu: #37517E;
    --secondary-blu: #219ed8;
    --main-light: #f3f5fa;
    --secondary-light: #7486a5;

}
 /* CLASSI GENERICHE DA POTER RICHIAMARE*/
 .bg-main-blu{
    background-color: var(--main-blu);
 }

 .bg-main-light{
  background-color: var(--main-light);
 }

 /* colori text */
 .text-blu-custom{
    color: var(--secondary-blu) !important;
 }
.text-light-custom{
    color: var(--main-light);
}
.text-secondary-light{
  color: var(--secondary-light);
}
.text-main-blu{
  color: var(--main-blu);
}
.text-black{
  color: black;
}

/* FINE CLASSI GENERICHE */

/* link navbar */
.nav-link{
    margin: 0px 8px;
}
.nav-link:hover {
    color: var(--secondary-blu);
}

/* Padding per far attaccare l'header alla navbar */
.padding-top-custom{
  padding-top: 100px;
}

 /* BOTTONE GET STARTED NAVBAR */
.button-18 {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--secondary-blu);
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: var(--secondary-blu);
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
/* FINE BOTTONE GET STARTED NAVBAR */


/* INIZIO HEADER */
/* bottone header */
.custom-link{
  text-decoration: none;
  font-size: large;
}

/* icona bottone whatch video */
.fa-circle-play:hover{
  color: var(--secondary-blu);
}
/* animazione immaggine header */
.img-animation{
 animation-name: movimento;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
/* FINE HEADER */


/* INIZIO SEZIONE ICONE (LOGHI) */
.dimensioni {
  width: 90px;
  filter: grayscale(100);
  transition: 0.5s;
}
.dimensioni:hover {
  transform: scale(1.2);
  filter: none;
}
/* FINE SEZIONE ICONE (LOGHI)*/


/* INIZIO SEZIONE ABOUT US */
ul{
  list-style: none;
}
 li{
  display: flex;
  justify-content: start;
  color: var(--secondary-blu);
 }
/* bottone sezione About Us LEARN MORE */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid var(--secondary-blu);
  border-radius: 3px;
  box-sizing: border-box;
  color:var(--secondary-blu);
  cursor: pointer;
  display: inline-flex;
  fill: var(--secondary-blu);
  font-size: 16px;
  font-weight: 600;
  height: 37px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  border: var(--secondary-blu);
  color:var(--secondary-blu);
}

.button-59:hover {
  background-color: var(--secondary-blu);
  border-color: var(--secondary-blu);
  color: var(--main-light);
  fill: var(--secondary-blu);
}

.button-59:active {
  border-color: var(--secondary-blu);
  color: var(--secondary-blu);
  fill: var(--secondary-blu);
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
/* FINE SEZIONE ABOUT US */










/* PER ULTIMI */

/* KEY FRAMES animazione immaggine header */
@keyframes movimento {
  0% { 
    transform: translateY(20px);

  }
  100% {
    transform: translateY(-20px);
  }
}

