/* SELETTORE UNIVERSALE PER CARATTERE */
*{
    font-family: 'Jost', sans-serif;
}
/* TABELLA COLORI DA UTILIZZARE */
:root {
    --main-blu: #37517E;
    --secondary-blu: #219ed8;
    --main-light: #f3f5fa;
    --secondary-light: #7486a5;

}
 /* CLASSI GENERICHE DA POTER RICHIAMARE*/
 .bg-main-blu{
    background-color: var(--main-blu);
 }

 /* colori text */
 .text-blu-custom{
    color: var(--secondary-blu) !important;
 }
.text-light-custom{
    color: var(--main-light);
}
.text-secondary-light{
  color: var(--secondary-light);
}

/* FINE CLASSI GENERICHE */

/* link navbar */
.nav-link{
    margin: 0px 8px;
}
.nav-link:hover {
    color: var(--secondary-blu);
}

/* Padding per far attaccare l'header alla navbar */
.padding-top-custom{
  padding-top: 100px;
}

 /* BOTTONE GET STARTED NAVBAR */
.button-18 {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--secondary-blu);
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: var(--secondary-blu);
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
/* FINE BOTTONE GET STARTED NAVBAR */

/* inizio header */
.masthead{
 height:100vh;
}

/* bottone header */
.custom-link{
  text-decoration: none;
  font-size: large;
}

/* icona bottone whatch video */
.fa-circle-play:hover{
  color: var(--secondary-blu);
}

